torch
flask
flask-cors
flask-mysql
python-dotenv
huggingface-hub
llama-index-core
elasticsearch
qdrant-client
openai
pydantic
transformers
fasttext
pandas
sqlalchemy
requests
numpy==1.26.4
duckduckgo-search
llama-index-llms-google-genai==0.1.7
typing-extensions